body.photo {
    text-align: center;
}

body.photo a.photo {
    display: block;
    height: 100vh;
    background-color: #0e0e0e;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

body.photo table {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

body.photo th {
    width: 50%;
    text-align: right;
}

body.photo td {
    width: 50%;
    text-align: left;
}

.markdown-body {
    max-width: 960px;
    margin: auto;
    padding: 1em .5em 50vh .5em;
}

.markdown-body img {
    height: auto;
}

a.home {
    float: right;
}
