html {
    font: 1em/1.5 "Helvetica Neue", sans-serif;
}

nav, footer {
    /* Match the blog font size to keep the header and footer consistent. */
    font-size: 1.25em;
}

nav {
    margin-bottom: 5em;
}

h1 {
    text-align: center;
    margin: 1em 0;
}

.date {
    color: #bbb;
    font-weight: lighter;
    text-align: center;
    margin-top: -2em;
    margin-bottom: 2em;
}

@media (min-width: 42em) {
    h1 {
        font-size: 4em;
    }

    .date {
        font-size: 2em;
    }
}

.markdown-body {
    max-width: 60rem;
}

img {
    width: auto;
    height: auto;
}

.home img {
    max-width: 24%;
}

/* Images are 300px and we have 16px of padding around the content. I also
 * leave 5px of extra room per image for the following space. Finally I add
 * 16px of extra padding so that the images don't readjust right when they
 * reach their max size.
 *
 * So effectively this is `(300 + 5) * 2 + 16 + 16`.
 */
@media (max-width: 642px) {
    .home img {
        max-width: 49%;
    }
}

/* Same rule as above, `(300 + 5) * 1 + 16 + 16`. */
@media (max-width: 337px) {
    .home img {
        max-width: 100%;
    }
}
