.slide {
    margin: 2rem 0;
}

/* Hack to make up for the fact that I can't easily in Markdown
 * include a HTML slide inside a paragraph without it closing and
 * opening new paragraphs around.
 *
 * This will eat the margins around in order to look like it's inline.
 */
.slide.inline {
    margin: -2rem 0;
}

.slide.inline + .slide.inline {
    margin-top: 2rem;
}

.slide.inline-top {
    margin-top: -2rem;
}

.slide.inline-bottom {
    margin-bottom: -2rem;
}

.slide ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: .5rem;
    align-items: center;
    overflow: scroll hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

/* Hack for Chrome to not eat the margin of the last element.
 *
 * See <https://stackoverflow.com/questions/10967979/bottom-margin-of-last-child-gets-hidden-when-overflow-applies>.
 */
.slide ul::after {
    content: "";
    padding: 1px 1px 0 0;
    /* Consume gap and element width. */
    margin-left: calc(-.5rem - 1px);
}

.slide li {
    box-sizing: border-box;
    flex-shrink: 0;
    scroll-snap-align: center;

    /* On mobile shrink the slides so that we see there's more content. */
    max-width: calc(min(100%, 60rem) - 2em);
}

.slide li:first-child {
    scroll-snap-align: start;
}

.slide li:last-child {
    scroll-snap-align: end;
}

@media (min-width: 69em) {
    /* When screen is wide enough, match slide width with page width. */
    .slide li {
        max-width: calc(min(100%, 60rem));
    }
}

.slide img {
    /* For sanity when no JS, match height of all images.
     *
     *     9/16*60rem = 33.75rem (desktop page max width)
     *     9/16*100vw = 56.25vw (mobile page width)
     *     9/16*1rem = .5625rem (mobile total horizontal padding)
     */
    max-height: min(33.75rem, calc(56.25vw - .5625rem));
}

/* Hide scrollbar when JS version is loaded on Firefox. */
.slide ul.loaded {
    scrollbar-width: none;
}

/* Hide scrollbar when JS version is loaded on Chrome. */
.slide ul.loaded::-webkit-scrollbar {
    display: none;
}
